<!-- Side Navbar -->
<nav class="side-navbar">
  <div class="side-navbar-wrapper">
    <!-- Sidebar Header    -->
    <div class="sidenav-header d-flex align-items-center justify-content-center">
      <!-- User Info-->
      <div *ngFor = "let profile of Profile">
      <div class="sidenav-header-inner text-center">
        <img src="../../../assets/img/teacher.png" id="img_hinh" alt="person" class="img-fluid rounded-circle">
        <h2 class="h5" id="name">{{profile.fullname}}</h2>
      </div>
    </div>
      <!-- Small Brand information, appears on minimized sidebar-->
      <div class="sidenav-header-logo">
        <a (click)="backhome()" class="brand-small text-center" style="text-decoration: none"> <strong class="text-primary">DT</strong><strong class="text-primary">M</strong></a>
      </div>
    </div>
    <!-- Sidebar Navigation Menus-->
    <div class="main-menu">
      <h5 class="sidenav-heading">Main</h5>
      <ul id="side-main-menu" class="side-menu list-unstyled">
        <li (click)="backhome()"><a id="home"> <i class="icon-home"></i>Trang chủ</a></li>
        <li><a href="#account" aria-expanded="false" data-toggle="collapse"> Thông tin tài khoản</a>
          <ul id="account" class="collapse list-unstyled ">
              <li><a routerLink="profile"> <i class="fa fa-angle-double-right "></i>Profile</a></li>
          </ul>
        </li>
        <li><a href="#thongtinmonhoc" aria-expanded="false" data-toggle="collapse"> Thông tin Môn Học</a>
          <ul id="thongtinmonhoc" class="collapse list-unstyled ">
           <li><a routerLink="course" > <i class="fa fa-angle-double-right"></i>Môn Học</a></li>
           <li><a routerLink="topic" > <i class="fa fa-angle-double-right"></i>Chủ Đề</a></li>
           <li><a routerLink="bankquestion" > <i class="fa fa-angle-double-right"></i>Ngân Hàng Câu Hỏi</a></li>
          </ul>
        </li>
        <li><a href="#exam" aria-expanded="false" data-toggle="collapse"> Thông tin bài kiểm tra</a>
          <ul id="exam" class="collapse list-unstyled ">
           <li><a routerLink="test" > <i class="fa fa-angle-double-right"></i>Đề kiểm tra</a></li>
           <li><a routerLink="question" > <i class="fa fa-angle-double-right"></i>Câu hỏi đề kiểm tra</a></li>
           <li><a routerLink="print" > <i class="fa fa-angle-double-right"></i>In Đề</a></li>
          </ul>
        </li>
        <li><a href="#mark" aria-expanded="false" data-toggle="collapse"> Thông tin điểm</a>
          <ul id="mark" class="collapse list-unstyled ">
           <li><a routerLink="report" > <i class="fa fa-angle-double-right"></i>Điểm</a></li>
          </ul>
        </li>
      </ul>   
    </div>
   
  </div>
</nav>
